{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}


<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<table class="table table-hover table-dark table-bordered table-condensed border-secondary sticky-lg-top" style="top: 20px">
			  <thead>
			    <tr>
			      <th scope="col" title="Mailbox Folder">Folder</th>
			      <th scope="col" title="Number of Emails">#</th>
			    </tr>
			  </thead>
			{% for key, value in sorted_folders.items() %}
			  <tbody>
			    <tr>
			      <td><a href="/home?folder={{key}}">{{key}}</a></td>
			      <td>{{value}}</td>
			    </tr>
			  </tbody>
			{% endfor %}
			</table>
		</div>
		<div class="col-sm">
			<table class="table table-hover table-dark table-bordered table-condensed border-secondary">
			  <thead>
			    <tr>
			      <th scope="col" title="Message Number">Index</th>
			      <th scope="col" title="From">From</th>
			      <th scope="col" title="Subject">Subject</th>
			      <th scope="col" title="Date">Date</th>
			    </tr>
			  </thead>
			  <tbody>
			{% set ns = namespace (msg_num = 0) %}
			{% for row in messages %}
			    <tr>
				{% for cell in row %}
					{% if cell|int != 0 %}
				      {% set ns.msg_num = cell %}
					{% endif %}
				  <td><a href="/home?msg_num={{ns.msg_num}}&folder={{ request.args.get('folder') }}">{{cell|string|truncate(20)}}</a></td>
				{% endfor %}
			    </tr>
			{% endfor %}
			  </tbody>
		</div>
		<div class="col-sm bg-dark border border-secondary p-2">
			<pre style="color: white">{{body}}</pre>
		</div>
		<div id="invisible-container" class="container-fluid">
		</div>
	</div>
</div>

<div class=" bg-dark border border-secondary p-2">
		<b style="color: white">Pages:</b>

<nav aria-label="pagination page numbering">
  <ul class="pagination justify-content-center">
	{% if (request.args.get('page_num')|int - 2) > 1 %}
    <li class="page-item">
      <a class="page-link" href="/home?page_num={{request.args.get('page_num')|int - 2}}&folder={{request.args.get('folder')}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{% endif %}
	{% if (request.args.get('page_num')|int - 1) > 1 %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')|int - 1}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')|int - 1}}</a></li>
	{% endif %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')}}</a></li>
	{% if (request.args.get('page_num')|int + 1) < num_pages %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')|int + 1}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')|int + 1}}</a></li>
	{% endif %}
	{% if (request.args.get('page_num')|int + 1) < num_pages %}
    <li class="page-item">
      <a class="page-link" href="/home?page_num={{request.args.get('page_num')|int + 1}}&folder={{request.args.get('folder')}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
	{% endif %}
  </ul>
</nav>
</div>

<!--
<div class=" bg-dark border border-secondary p-2">
		<b style="color: white">Pages:</b>
	<nav aria-label="pagination page numbering">
	  <ul class="pagination justify-content-center">
		{% for page in range(1, (num_pages + 1)) %}
		  <li class="page-item"><a class="page-link" href="/home?page_num={{page}}&folder={{ request.args.get('folder')}}">{{page}}</a></li>
		{% endfor %}
	  </ul>
	</nav>
-->
{% endblock %}
