{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<div class="container-md">
<div class="bg-dark border border-secondary">
		<b style="color: white">&nbsp;Total Pages: {{num_pages}}</b>

<nav aria-label="pagination page numbering">
  <ul class="pagination justify-content-center">
	{% if (request.args.get('page_num')|int - 1) >= 1 %}
    <li class="page-item">
      <a class="page-link" href="/home?page_num={{request.args.get('page_num')|int - 1}}&folder={{request.args.get('folder')}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{% endif %}
	{% if (request.args.get('page_num')|int - 1) >= 1 %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')|int - 1}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')|int - 1}}</a></li>
	{% endif %}
	<li class="page-item active" aria-current="page">
    <a class="page-link" href="/home?page_num={{request.args.get('page_num')}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')}}</a>
	</li>
	
	{% if (request.args.get('page_num')|int + 1) <= num_pages %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')|int + 1}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')|int + 1}}</a></li>
	{% endif %}
	{% if (request.args.get('page_num')|int + 1) <= num_pages %}
    <li class="page-item">
      <a class="page-link" href="/home?page_num={{request.args.get('page_num')|int + 1}}&folder={{request.args.get('folder')}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
	{% endif %}
  </ul>
</nav>
</div>
</div>

<div id="invisible-container" class="container-fluid">
</div>

<div class="container">
	<div class="row justify-content-end">
		<div class="col-xl-3">
			<table class="table table-hover table-dark table-bordered table-condensed border-secondary sticky-lg-top" style="top: 20px">
			  <thead>
			    <tr>
			      <th scope="col" title="Mailbox Folder">Folder</th>
			      <th scope="col" title="Number of Emails">#</th>
			    </tr>
			  </thead>
			{% for key, value in sorted_folders.items() %}
			  <tbody>
			    <tr>
			      <td><a href="/home?folder={{key}}">{{key}}</a></td>
			      <td>{{value}}</td>
			    </tr>
			  </tbody>
			{% endfor %}
			</table>
		</div>

		{% set num_body_lines = body.count('\n') %}

		<!-- Default Lowerbound -->
		{% set ns = namespace (row_num = 10) %}

		{% if num_body_lines > 10 and num_body_lines < 25 %}
			{% set ns.row_num = body.count('\n') %}
		<!-- Default Upperbound -->
		{% elif num_body_lines > 25 %}
			{% set ns.row_num = 25 %}
		{% endif %}
		<div class="col-xl-9 " style="height: 0%">
				<textarea class="bg-dark border border-secondary" style="width: 100%; height: 100%; color: white; padding: 5px" rows="{{ns.row_num}}" readonly>{{body}}</textarea>
			<div class="bg-dark border border-secondary py-1">
				<div class="d-flex justify-content-center">
					<a class="btn btn-primary me-1" href="/send?msg_num={{request.args.get('msg_num')}}&folder={{request.args.get('folder')}}&mode=reply" role="button">Reply</a>
					<a class="btn btn-primary me-1" href="/send?msg_num={{request.args.get('msg_num')}}&folder={{request.args.get('folder')}}&mode=forward" role="button">Forward</a>
					<form action="/delete" method="POST">
						<input type="hidden" name="folder" value="{{request.args.get('folder')}}">
						<input type="hidden" name="msg_num" value="{{request.args.get('msg_num')}}">
						<button type="submit" class="btn btn-danger me-1">Delete</button>
					</form>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle me-1" name="dst_folder" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Move To</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							{% for key, value in sorted_folders.items() %}
							<li><a class="dropdown-item" href="/move?msg_num={{request.args.get('msg_num')}}&src_folder={{request.args.get('folder')}}&dst_folder={{key}}">{{key}}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="invisible-container" class="container-fluid">
	</div>
	<div class="row justify-content-end">
		<div class="col-xl-9">
			<div class="table-responsive-lg">
			<table class="table table-hover table-dark table-bordered table-condensed border-secondary">
	  		<thead>
				<tr>
			      <th scope="col" title="Message Number">Index</th>
			      <th scope="col" title="From">From</th>
			      <th scope="col" title="Subject">Subject</th>
			      <th scope="col" title="Date">Date</th>
			    </tr>
			  </thead>
			  <tbody>
			{% set ns = namespace (msg_num = 0) %}
			{% for row in messages %}
			    <tr>
				{% for cell in row %}
					{% if cell|int != 0 %}
				      {% set ns.msg_num = cell %}
					{% endif %}
				  <td><a href="/home?msg_num={{ns.msg_num}}&folder={{ request.args.get('folder') }}&page_num={{ request.args.get('page_num') }}">{{cell|string|truncate(20)}}</a></td>
				{% endfor %}
			    </tr>
			{% endfor %}
			  </tbody>
			</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
