<div class="container-md">
<div class="bg-dark border border-secondary">
		<b style="color: white">&nbsp;Total Pages: {{num_pages}}</b>

<nav aria-label="pagination page numbering">
  <ul class="pagination justify-content-center">
	{% if (request.args.get('page_num')|int - 1) >= 1 %}
    <li class="page-item">
      <a class="page-link" href="/home?page_num={{request.args.get('page_num')|int - 1}}&folder={{request.args.get('folder')}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
	{% endif %}
	{% if (request.args.get('page_num')|int - 1) >= 1 %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')|int - 1}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')|int - 1}}</a></li>
	{% endif %}
	<li class="page-item active" aria-current="page">
    <a class="page-link" href="/home?page_num={{request.args.get('page_num')}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')}}</a>
	</li>
	
	{% if (request.args.get('page_num')|int + 1) <= num_pages %}
    <li class="page-item"><a class="page-link" href="/home?page_num={{request.args.get('page_num')|int + 1}}&folder={{request.args.get('folder')}}">{{request.args.get('page_num')|int + 1}}</a></li>
	{% endif %}
	{% if (request.args.get('page_num')|int + 1) <= num_pages %}
    <li class="page-item">
      <a class="page-link" href="/home?page_num={{request.args.get('page_num')|int + 1}}&folder={{request.args.get('folder')}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
	{% endif %}
  </ul>
</nav>
</div>
</div>
